index.css 
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
    font-family: "Oswald", sans-serif;
}

.header-container {
  background-color: rgb(225, 205, 180);
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 250px;
}


  .congratulation {

    background-color: rgb(225, 205, 180);
    padding-top: 104px;
    padding-left: 450px;
  }

  .music {

    background-color: rgb(225, 205, 180);
    padding-left: 550px;
    padding-right: 500px;
    padding-bottom: 50px;
    

  }

  .congratulation-two {

    background-color: rgb(225, 205, 180);
  }

  .music-two {

     background-color: rgb(225, 205, 180);
     padding-right: 500px;
     padding-bottom: 50px;
     padding-top: 100px;
     padding-left: 500px;
     display: flex;
  }


  .pins {

      background-color: rgb(225, 205, 180);
     padding-right: 500px;
     padding-bottom: 50px;
     padding-top: 100px;
     padding-left: 500px;
     display: flex;
  }

  .pins-two {
    background-color: rgb(225, 205, 180);
    padding-left: 550px;
    padding-right: 500px;
    padding-bottom: 50px;
  }